<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.uandi.Starbucks.voc.model.mapper.VocMapper">
	
 	<resultMap id="mainCategoriesOfInquiriesResultSet" type="mainCategoriesOfInquiries">
		<result column="CODE" property="code" />
		<result column="CODE_NAME" property="code_NAME" />
	</resultMap>
 	<resultMap id="inquiryCategoryResultSet" type="inquiryCategory">
		<result column="MAIN_CATEGORY_CODE" property="parentCode" />
		<result column="CATEGORY_CODE" property="code" />
		<result column="CATEGORY_NAME" property="code_NAME" />
	</resultMap>
	<resultMap id="drinkProductResultSet" type="drinkProduct">
		<result column="no_SKU" property="no_SKU" />
		<result column="nm_CATE" property="nm_CATE" />
		<result column="nm_CATE_FULL" property="nm_CATE_FULL" />
		<result column="nm_PRDUCT" property="nm_PRDUCT" />
		<result column="nm_CATE_1" property="nm_CATE_1" />
	</resultMap>
	<resultMap id="inquiryDetailsResultSet" type="inquiryDetails">
		<result column="INQUIRY_NO" property="inquiryNo" />
		<result column="PAYMENT_INFORMATION" property="paymentInformation" />
		<result column="INQUIRY_TITLE" property="inquiryTitle" />
		<result column="INQUIRY_CONTRNT" property="inquiryContenet" />
		<result column="INQUIRY_DATE" property="inquiryDate" />
		<result column="PHONE_NUMBER" property="phoneNumder" />
		<result column="INQUIRY_STATUS" property="inquiryStatus" />
		<result column="CATEGORY_CODE" property="categoryCode" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="STORE_CODE" property="storeCode" />
		<result column="INQUIRY_ITEM" property="inquiryItem" />
		<result column="id_VOC" property="id_VOC" />
		<result column="ds_VOC_TITLE" property="ds_VOC_TITLE" />
		<result column="yn_ANSWER" property="yn_ANSWER" />
		<result column="cd_VOC_STTUS" property="cd_VOC_STTUS" />
		<result column="dt_VOC_REG" property="dt_VOC_REG" />
		<result column="file_YN" property="file_YN" />
	</resultMap>
	<resultMap id="inquiryAttachmentResultSet" type="inquiryAttachment">
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANG_NAME" property="changName" />
		<result column="STATUS" property="status" />
		<result column="INQUIRY_NO" property="inquiryNo" />
	</resultMap>
	<resultMap id="frequentlyAskedQuestionsResultSet" type="frequentlyAskedQuestions">
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANG_NAME" property="changName" />
		<result column="STATUS" property="status" />
		<result column="INQUIRY_NO" property="inquiryNo" />
	</resultMap>
	 <select id="getVocDemandCodeList" resultMap="mainCategoriesOfInquiriesResultSet"  >
			SELECT *  FROM MAIN_CATEGORIES_OF_INQUIRIES
	</select>
 	<select id="getVocCauseCodeList" resultMap="inquiryCategoryResultSet"  parameterType="string" >
			SELECT *  FROM INQUIRY_CATEGORY WHERE MAIN_CATEGORY_CODE = #{parentCode}
	</select>
	<select id="getVocProdCodeList" resultMap="drinkProductResultSet"  parameterType="string" >
	SELECT P.DRINK_NO AS"no_SKU",  C.CATEGORY_NAME AS "nm_CATE",  C.CATEGORY_NAME AS "nm_CATE_FULL",P.NAME AS "nm_PRDUCT",'음료' AS "nm_CATE_1"
			FROM DRINK_PRODUCT P
			  JOIN DRINK_CATEGORY C ON (C.CATEGORY_ID = P.CATEGORY_ID) 
			  WHERE NAME LIKE '%'||#{NM_PRDUCT}||'%'
	</select>
	 <insert id="insertInquiry" parameterType="inquiryDetails" >
    	INSERT INTO INQUIRY_DETAILS(INQUIRY_NO,PAYMENT_INFORMATION,INQUIRY_TITLE,INQUIRY_CONTRNT,
    								PHONE_NUMBER,CATEGORY_CODE,MEMBER_NO,STORE_CODE,INQUIRY_ITEM)
    						VALUES(SEQ_INQUIRY_NO.NEXTVAL,#{paymentInformation},#{inquiryTitle},#{inquiryContenet},
    								#{phoneNumder},#{categoryCode},#{memberNo},#{storeCode},#{inquiryItem})					   
    </insert>
     <insert id="insertInquiryAttachment" parameterType="inquiryAttachment" >
    	INSERT INTO INQUIRY_ATTACHMENT(ORIGIN_NAME,CHANG_NAME,INQUIRY_NO)
    				VALUES(#{originName},#{changName},SEQ_INQUIRY_NO.CURRVAL)					   
    </insert>
    <select id="CntVocT" parameterType="_int" >
				SELECT  COUNT(*)
			  FROM INQUIRY_DETAILS
			  WHERE  MEMBER_NO = #{memberNo}
	</select>
	<select id="CntVocC"  parameterType="_int" >
				SELECT  COUNT(*)
			  FROM INQUIRY_DETAILS
			  WHERE INQUIRY_STATUS = 'Y' AND  MEMBER_NO = #{memberNo}
	</select>
	<select id="getVocMyList" resultMap="inquiryDetailsResultSet"  parameterType="_int" >
			SELECT D.INQUIRY_NO AS "id_VOC" ,D.INQUIRY_TITLE AS "ds_VOC_TITLE",D.INQUIRY_STATUS AS "yn_ANSWER", 
			       DECODE(D.INQUIRY_STATUS,'N','','PO')AS "cd_VOC_STTUS", SUBSTR(D.INQUIRY_DATE,1,10) AS "dt_VOC_REG",
			       DECODE((SELECT COUNT(*) FROM INQUIRY_ATTACHMENT A1 WHERE A1.INQUIRY_NO = D.INQUIRY_NO),0,'N','Y')  AS "file_YN"
			 FROM INQUIRY_DETAILS D
			WHERE MEMBER_NO = #{memberNo} AND  INQUIRY_STATUS = #{inquiryStatus}
	</select>
	<select id="selectInquiryCount" parameterType="inquiryDetails"  >
			SELECT COUNT(*)
			 FROM INQUIRY_DETAILS D
			WHERE MEMBER_NO = #{memberNo} AND  INQUIRY_STATUS = #{inquiryStatus}
	</select>
	<select id="getFaqBest5" resultMap="frequentlyAskedQuestionsResultSet" resultType="frequentlyAskedQuestions"  >
			SELECT QUESTIONS_NO AS "id_VOC_FAQ", ASKED AS "ds_ANSWER", QUESTIONS AS "ds_QESTN",M.CODE_NAME AS "code_NAME"
 FROM FREQUENTLY_ASKED_QUESTIONS F
 JOIN INQUIRY_CATEGORY I ON (I.CATEGORY_CODE=F.CATEGORY_CODE)
 JOIN MAIN_CATEGORIES_OF_INQUIRIES M ON (M.CODE=I.MAIN_CATEGORY_CODE)
 WHERE QUESTIONS_NO &gt;=1 AND QUESTIONS_NO &lt;=10
	</select>
	<select id="updateFaqViewCount" resultMap="frequentlyAskedQuestionsResultSet" resultType="frequentlyAskedQuestions"  >
			SELECT QUESTIONS_NO AS "id_VOC_FAQ", ASKED AS "ds_ANSWER", QUESTIONS AS "ds_QESTN",M.CODE_NAME AS "nm_VOC_CAUSE"
 FROM FREQUENTLY_ASKED_QUESTIONS F
 JOIN MAIN_CATEGORIES_OF_INQUIRIES M ON (M.CODE=F.CATEGORY_CODE)
 WHERE QUESTIONS_NO = ${iD_VOC_FAQ}
	</select>
</mapper>
